# Formal Verification

The Agile protocol was developed with a specifications of security principles, and formally verified by [Certik](https://www.certik.org/) using Certik ASA \(Accurate Static Analysis\), which is integrated into Agile Finance's continuous integration system.

