---
description: Agile Finance formal verification audit by Certik and Solidproof Audit Firm.
---

# Formal Verification

The Agile protocol was developed with a specifications of security principles, and formally verified by [Certik](https://www.certik.org/projects/agile-finance) using Certik ASA (Accurate Static Analysis) and Solidproof Germany Audit Firm, which is integrated into Agile Finance's continuous integration system.

* Certik - [https://www.certik.org/projects/agile-finance](https://www.certik.org/projects/agile-finance)
* Solidproof - [https://github.com/solidproof/smart-contract-audits/blob/main/SmartContract\_Audit\_Solidproof\_AgileFinance.pdf](https://github.com/solidproof/smart-contract-audits/blob/main/SmartContract\_Audit\_Solidproof\_AgileFinance.pdf)
